## Nature of business (SIC)

#### Standard industrial classification of economic activities

#### Hemant Thapa

In [4]:
import pandas as pd

In [5]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [6]:
df = pd.read_csv('sic.csv')

In [7]:
df.shape

(731, 2)

In [8]:
df.size

1462

In [9]:
df.isnull().sum()

SIC Code       0
Description    0
dtype: int64

In [10]:
df.dtypes

SIC Code        int64
Description    object
dtype: object

In [11]:
df[:5]

   SIC Code                                                       Description
0      1110  Growing of cereals (except rice), leguminous crops and oil seeds
1      1120                                                   Growing of rice
2      1130                Growing of vegetables and melons, roots and tubers
3      1140                                             Growing of sugar cane
4      1150                                                Growing of tobacco

In [12]:
df[-5:]

,SIC Code,Description
726,98000,Residents property management
727,98100,Undifferentiated goods-producing activities of private households for own use
728,98200,Undifferentiated service-producing activities of private households for own use
729,99000,Activities of extraterritorial organizations and bodies
730,99999,Dormant Company

In [13]:
def get_description_by_sic(sic_code):
    # find the description by SIC Code
    description = df[df['SIC Code'] == sic_code]['Description'].values
    if description:
        print(f"SIC Code {sic_code}: {description[0]}")
    else:
        print("Description not found for the given SIC Code.")

In [14]:
get_description_by_sic(56103)

SIC Code 56103: Take-away food shops and mobile food stands

In [15]:
get_description_by_sic(46160)

SIC Code 46160: Agents involved in the sale of textiles, clothing, fur, footwear and leather goods

In [16]:
get_description_by_sic(47710)

SIC Code 47710: Retail sale of clothing in specialised stores

In [17]:
def search_description(search_string):
    matching_rows = df[df['Description'].str.contains(search_string, case=False)]
    if not matching_rows.empty:
        print("Matching SIC Codes and Descriptions:")
        return matching_rows
    else:
        print("No matches found for the given search string.")

In [18]:
search_description("rice")

Matching SIC Codes and Descriptions:

   SIC Code                                                       Description
0      1110  Growing of cereals (except rice), leguminous crops and oil seeds
1      1120                                                   Growing of rice

In [19]:
search_description("retail")

Matching SIC Codes and Descriptions:

,SIC Code,Description
362,45320,Retail trade of motor vehicle parts and accessories
416,47110,"Retail sale in non-specialised stores with food, beverages or tobacco predominating"
417,47190,Other retail sale in non-specialised stores
418,47210,Retail sale of fruit and vegetables in specialised stores
419,47220,Retail sale of meat and meat products in specialised stores
420,47230,"Retail sale of fish, crustaceans and molluscs in specialised stores"
421,47240,"Retail sale of bread, cakes, flour confectionery and sugar confectionery in specialised stores"
422,47250,Retail sale of beverages in specialised stores
423,47260,Retail sale of tobacco products in specialised stores
424,47290,Other retail sale of food in specialised stores
425,47300,Retail sale of automotive fuel in specialised stores
426,47410,"Retail sale of computers, peripheral units and software in specialised stores"
427,47421,Retail sale of mobile telephones
428,47429,Retail sale of telecommunications equipment other than mobile telephones
429,47430,Retail sale of audio and video equipment in specialised stores
430,47510,Retail sale of textiles in specialised stores
431,47520,"Retail sale of hardware, paints and glass in specialised stores"
432,47530,"Retail sale of carpets, rugs, wall and floor coverings in specialised stores"
433,47540,Retail sale of electrical household appliances in specialised stores
434,47591,Retail sale of musical instruments and scores
435,47599,"Retail of furniture, lighting, and similar (not musical instruments or scores) in specialised store"
436,47610,Retail sale of books in specialised stores
437,47620,Retail sale of newspapers and stationery in specialised stores
438,47630,Retail sale of music and video recordings in specialised stores
439,47640,"Retail sale of sports goods, fishing gear, camping goods, boats and bicycles"
440,47650,Retail sale of games and toys in specialised stores
441,47710,Retail sale of clothing in specialised stores
442,47721,Retail sale of footwear in specialised stores
443,47722,Retail sale of leather goods in specialised stores
445,47741,Retail sale of hearing aids
446,47749,Retail sale of medical and orthopaedic goods in specialised stores (not incl. hearing aids) n.e.c.
447,47750,Retail sale of cosmetic and toilet articles in specialised stores
448,47760,"Retail sale of flowers, plants, seeds, fertilizers, pet animals and pet food in specialised stores"
449,47770,Retail sale of watches and jewellery in specialised stores
450,47781,Retail sale in commercial art galleries
451,47782,Retail sale by opticians
452,47789,Other retail sale of new goods in specialised stores (not commercial art galleries and opticians)
453,47791,Retail sale of antiques including antique books in stores
454,47799,Retail sale of other second-hand goods in stores (not incl. antiques)
455,47810,"Retail sale via stalls and markets of food, beverages and tobacco products"
456,47820,"Retail sale via stalls and markets of textiles, clothing and footwear"
457,47890,Retail sale via stalls and markets of other goods
458,47910,Retail sale via mail order houses or via Internet
459,47990,"Other retail sale not in stores, stalls or markets"

In [20]:
search_description("technology")

Matching SIC Codes and Descriptions:

     SIC Code                                             Description
531     62020           Information technology consultancy activities
533     62090         Other information technology service activities
594     72110  Research and experimental development on biotechnology

In [21]:
search_description('clothes')

Matching SIC Codes and Descriptions:

     SIC Code                     Description
107     14110  Manufacture of leather clothes

In [22]:
search_description('finance')

Matching SIC Codes and Descriptions:

,SIC Code,Description
554,64921,Credit granting by non-deposit taking finance houses and other specialist consumer credit grantors
555,64922,Activities of mortgage finance companies

In [23]:
search_description('engineering')

Matching SIC Codes and Descriptions:

,SIC Code,Description
341,42990,Construction of other civil engineering projects n.e.c.
402,46630,"Wholesale of mining, construction and civil engineering machinery"
590,71121,Engineering design activities for industrial process and production
591,71122,Engineering related scientific and technical consulting activities
592,71129,Other engineering activities
595,72190,Other research and experimental development on natural sciences and engineering
618,77320,Renting and leasing of construction and civil engineering machinery and equipment

In [24]:
search_description('food')

Matching SIC Codes and Descriptions:

,SIC Code,Description
70,10612,Manufacture of breakfast cereals and cereals-based food
82,10860,Manufacture of homogenized food preparations and dietetic food
83,10890,Manufacture of other food products n.e.c.
85,10920,Manufacture of prepared pet foods
273,28930,"Manufacture of machinery for food, beverage and tobacco processing"
370,46170,"Agents involved in the sale of food, beverages and tobacco"
385,46380,"Wholesale of other food, including fish, crustaceans and molluscs"
386,46390,"Non-specialised wholesale of food, beverages and tobacco"
416,47110,"Retail sale in non-specialised stores with food, beverages or tobacco predominating"
424,47290,Other retail sale of food in specialised stores
448,47760,"Retail sale of flowers, plants, seeds, fertilizers, pet animals and pet food in specialised stores"
455,47810,"Retail sale via stalls and markets of food, beverages and tobacco products"
501,56103,Take-away food shops and mobile food stands
503,56290,Other food services